@import 'sass-bootstrap/lib/bootstrap';

$blue : #376B8A;
$gray : #2e2e2e;
$ltgray : rgb(163, 163, 163);

$outside : $blue;
$inside: $ltgray;

body{
background-color: $outside;
color: $gray;
}

.at{
font-variant: small-caps;
padding: 5px;
}

.hero-unit {
margin: 50px auto 0 auto;
width: 600px;
border: 7px solid $gray;
background-color: $inside;
}

.logo{
border: 1px solid $gray;
}

.email {
text-align: center;
font-family: monospace;
}