body {
  background-color: #376B8A;
  color: #2e2e2e;
  text-align: center;
}

.at{
  font-variant: small-caps;
  padding: 5px;
}

.logo{
  border: 1px solid #2e2e2e;
  width: 90%
}

.email {
  text-align: center;
  font-family: monospace;
}
